<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Carlos García-Berro</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw+4uRgJNjyputH6yqF2HsUjVzCEdvBRthk8VYSPf6vRTWhN1LmShBmlX3nQ5CLuNqpQ51O2/GHfFaCntK3zOhoA==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$T4258ZjhcV8HUrEUzH0e3eL0tbKRyCjD7RrcAq1VZqeQINdAfO5X6</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1517828025167</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>